.nav-pills { padding-top: 5px; }
.nav-bottom-hr { margin-top:5px !important; color: #337ab7; height: 1px; background-color: #337ab7; }
.all-items-list-item-block { min-height: 450px; }
.drop-box {background-color: #F8F8F8; border: 5px dashed #DDD; height: 180px; width: 180px; margin: 5px; padding: 10px; text-align: center;}
