<div class="row" ng-if="uploader">

                <div class="col-md-3">

                    <div ng-show="uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <div class="well drop-box" nv-file-drop uploader="uploader">
                            Drop images here
                        </div>
                    </div>

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <div>
                        <input type="file" nv-file-select uploader="uploader" multiple title=" "/>
                    </div>
                </div>
                <div class="col-md-9" style="margin-bottom: 10px">
                    <table class="table table-condensed">
                    <tr ng-repeat="image in uploaded">
                        <td class="col-md-2">{{ $index + 1 }}</td>
                        <td class="col-md-6">{{ image.filename }}</td>
                        <td class="col-md-4">
                            <a class="text-danger" ng-click="removeImage($index)">Remove</a>
                        </td>
                    </tr>
                    </table>
                </div>
