<div class="row">

    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in allItems track by $index">
        <div class="thumbnail all-items-list-item-block">
            <div class="caption">
            <p class="pull-right small">{{ item.datePublished | date: 'dd.MM.yyyy'}}</p>
            <p class="small">Author: {{ item.author.displayName }}</p>
            </div>
            <img ng-src="http://127.0.0.1:3000/files/{{ item.images[0]._id || 'noimage' }}?kind=th" alt="">
            <div class="caption">
                <h4 class="pull-right">{{ item.price/100 | currency: '&#8372': 2}}</h4>
                <h4><a ui-sref="singleItem({id:item._id, permalink:item.permalink})">{{ item.title | strTruncate:true:70 }}</a></h4>
                <p ng-bind-html="item.content | strTruncate:true:300"></p>
            </div>
            <div class="ratings">
                <div class="pull-right">Comments <span class="badge">{{ item.comments.length }}</span></div>
                <item-rate item-instance="item"></item-rate>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-2 col-sm-offset-5">
        <span class="label label-primary" ng-show="loadable" ng-disabled="!loadable" ng-click="loadNext()">{{ buttonText }}</button>
    </div>
    <div class="col-sm-2 col-sm-offset-5">
        <span ng-show="!loadable" class="label label-primary">No more results left</span>
    </div>
</div>
